<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <p th:text="Your name: ${studentInfo.getFirstName()}">first name</p><br>-->
<!--    <p th:text="Your lastname: ${studentInfo.getLastName()}">last name</p><br>-->
<!--    <p th:text="Your age: ${studentInfo.getAge()}">age</p><br>-->
<!--    <p th:text="Your email: ${studentInfo.getEmail()}">email</p><br>-->
<!--    <a th:href="@{/student/showStudentPage}" type="button">Go</a>-->
</body>
</html>