<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
  <form th:method="GET" th:action="@{/oneToOne/showResult}">
    <label>Human form</label>
    <input type="text" th:field="*{human.name}" placeholder="input your name"><br>
    <input type="text" th:field="*{human.country}" placeholder="input your country"><br>
    <label>Order thing</label><br>
    <input type="text" th:field="*{orders.order}" placeholder="input product name"><br>
    <input type="text" th:field="*{orders.product}" placehodler="input product cost"><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>